---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  margin:0 0 20px;
}

h1 {
    color:#ffa500;
}

h2 {
    color:#00ffa6;
}

h3 {
    color:#a600ff;
}

a {
  color:#ffa500;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#ffa500;
  margin-top:-0.3em;
  display:block;
}

hr {
  border:0;
  background:#fff;
  height:1px;
  margin:0 0 20px;
}

pre {
  padding:8px 15px;
  background: #fff;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}
